<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Création appartement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/fontawesome/css/all.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
<header th:replace="fragments :: header ">
</header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments :: navbar">
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="row">
                <form method="post" th:action="@{/appartement/addEdit}" th:object="${appartement}">
                    <div class="form-group">
                        <label for="desc-field" class="col-form-label">Description</label>
                        <input class="form-control" id="desc-field" th:field="*{description}" type="text" name="description"/>
                    </div>
                    <div class="form-group">
                        <label for="surface-field">Surface</label>
                        <input class="form-control" id="surface-field" th:field="*{surface}" type="number" name="surface"/>
                    </div>
                    <div class="form-group">
                        <label for="type-field">Type Appartement</label>
                        <select class="form-control" id="type-field" th:field="*{typeAppartement.id}">
                            <option th:each="type : ${types}"
                                    th:value="${type.id}"
                                    th:utext="${type.type}"></option>
                        </select>
                    </div>
                    <input type="hidden" id="id" th:field="*{id}">
                    <label>
                        <input type="submit" class="btn btn-success" value="Soumettre"/>
                        <a href="/appartement/index" class="btn btn-danger pl-2">Annuler</a>
                    </label>
                </form>
            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments :: footer">

</footer>
<script th:src="@{/js/jquery-3.5.1.min.js}" rel="script"></script>
<script th:src="@{/js/popper.min.js}" rel="script"></script>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" rel="script"></script>
</body>
</html>